OAUTH2PLAYGROUND_GOOGLE_CLIENT_ID=your-google-client-id
OAUTH2PLAYGROUND_GOOGLE_CLIENT_SECRET=your-google-client-secret
OAUTH2PLAYGROUND_GOOGLE_REDIRECT_URI=http://localhost:8091/api/google/callback

OAUTH2PLAYGROUND_MICROSOFT_CLIENT_ID=your-microsoft-client-id
OAUTH2PLAYGROUND_MICROSOFT_CLIENT_SECRET=your-microsoft-client-secret
OAUTH2PLAYGROUND_MICROSOFT_REDIRECT_URI=http://localhost:8091/api/microsoft/callback
